*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth; 
}

.menu{
	padding: 15px 20px;
	background: white;
	position: fixed;
	width: 100%;
	margin-top: -55px;
	border-bottom: 1px solid black;
	z-index: 2;
}

.menu .contenedor{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contenedor{
	max-width: 1280px;
	width: 90%;
	margin: auto;
}

header .logo{
	color: black;
	font-size: 20px;
	font-weight: bold;
}

nav ul li{
	display: inline-block;
	margin: 0 20px;
}

nav ul li a{
	text-decoration: none;
	color: black;
}


#intro{
	background: url(../imagenes/intro.jpg);
	background-size: cover;
	background-position: center;
	font-family: 'Oswald', sans-serif;
	display: flex;
	margin-top: 55px;
}

#intro .izquierda{
	width: 60%;
	padding: 65px 75px;
	background-color: rgba(255,255,255,.75);
}

#intro .derecha{
	width: 55%;
	color: white;
	height: 450px;
}

#intro .contenido{
	background-color: red;
	padding: 20px 50px 50px 50px;
}

#intro .izquierda p{
	font-size: 12px;
	letter-spacing: 18px;
}

#intro h1{
	font-size: 66px;
	font-weight: 100;
}

#intro a, #programs a, #testimonials a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	letter-spacing: 7px;
	border-bottom: 2px solid red;
	padding-bottom: 13px;
	padding: 0px 18px 13px 10px;
}

#intro .derecha a{
	color: white;
	padding: 20px;
	border: 1px solid white;
	display: inline-block;
}

#intro .derecha p{
	font-size: 30px;
	letter-spacing: 5px;
	margin-bottom: 15px;
}

/* Seccion Programas */

#programs{
	padding-top: 90px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.rojo{
	color: red;
}

#programs .cero{
	font-size: 80px;
}

#programs .ini{
	letter-spacing: 18px;
	font-size: 15px;
}

#programs h2{
	font-size: 63px;
	font-weight: 100;
	letter-spacing: 16px;
	margin-top: 30px;
	margin-bottom: 16px;
}

#programs p{
	font-family: 'Open Sans';
	color: #666;
	font-size: 15px;
	width: 75%;
	margin: auto;
	line-height: 30px;
}

#programs a{
	display: inline-block;
	margin-top: 30px;
}

.contenedor-programs{
	display: flex;
	margin-top: 50px;
	width: 88%;
	margin: auto;
}

#programs #uno{
	background: #2a1e3f;
	color: white;
}

#uno p, #dos p, #dos h3, #tres p{
	color: white;
	width: 100%;
	text-align: left;
}

#tres p{
	color: black;
}

h3{
	font-size: 26px;
	letter-spacing: 4px;
	text-align: left;
	font-weight: 400;
	margin-bottom: 16px;
}

.program{
	padding: 45px 47px;
	/*rango en horizontal*/
	/*rango en vertical*/
	/*radio de difuminacion*/
	/*profundidad del color*/
	box-shadow: 50px 70px 120px -42px rgba(0,0,0,0.5);
}

#dos{
	background: red;
	position: relative;
	top: 70px;
}

#tres{
	border: 1px solid black;
}


#video{
	padding: 50px;
	text-align: center;
}

#video .contenedor{
	position: relative;
}

#video .botones{
	position: absolute;
	top: 40%;
	left: 45%;
}

#video i{
	font-size: 125px;
	color: white;
}

#video button{
	border: 0;
	background: none;
	cursor: pointer;
}

#join{
	display: flex;
	margin-top: 40px;
}

#join .izquierda{
	width: 49%;
	background: #fa2a2c;
	margin-left: 100px;
	height: 340px;
	position: relative;
}

#join img{
	width: 47%;
}

#join .izquierda a{
	color: white;
	border: 1px solid white;
	text-decoration: none;
	padding: 15px 24px;
	display: inline-block;
	font-family: 'Oswald';
	letter-spacing: 5px;
	position: absolute;
	top: 7%;
	left: 32%;
}

#join #uno{
	position: absolute;
	top: 22%;
	left: 56%;
	z-index: 1;
	width: 44%;
}

#join .derecha{
	width: 53%;
	position: relative;
	background: url(../imagenes/join-back.jpg);
	background-size: cover;
}

#join #dos{
	position: absolute;
	top: -124px;
}

#join #tres{
	position: absolute;
	left: 47%;
	top: 24%;
	width: 44%;
}

#testimonials{
	padding-top: 90px;
	text-align: center;
}

span.comilla{
	font-size: 120px;
	color: red;
}

#testimonials h2{
	font-size: 63px;
	font-weight: 100;
	letter-spacing: 16px;
	margin-bottom: 36px;
	font-family: 'Oswald';
}

#testimonials a{
	display: inline-block;
	font-family: 'Oswald';
}

.contenedor-testimonials{
	display: flex;
	margin-top: 90px;
	justify-content: center;
}

.testimonial{
	width: 40%;
	margin-right: 40px;
}

.testimonial .contenido{
	display: flex;
}

.foto{
	background: url(../imagenes/testimonial.jpg);
	background-size: cover;
	width: 500px;
	height: 125px;
	margin-top: 22px;
	background-position: center;
	border-radius: 100%;
}

.testimonial p{
	color: #666;
	text-align: left;
	font-size: 15px;
	margin-left: 24px;
	line-height: 30px;
}

.testimonial .nombre{
	margin-left: 155px;
	font-weight: bold;
	margin-top: 30px;
	font-size: 14px;
}

#contacto{
	background: url(../imagenes/contacto.jpg);
	font-family: 'Oswald';
	color: #fff;
	display: flex;
	margin-top: 30px;
}

#contacto .izquierda{
	padding: 100px;
	width: 43%;
}

#contacto .izquierda p{
	font-size: 14px;
	letter-spacing: 18px;
}

#contacto h2{
	font-size: 66px;
	font-weight: 100;
	letter-spacing: 19px;
	margin-bottom: 30px;
}

#contacto form input, textarea{
	width: 100%;
	border: 0;
	background: none;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	color: white;
	font-size: 16px;
	margin-bottom: 34px;
	font-family: 'Oswald';
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: 100;
	color: white;
}

#contacto button{
	background: none;
	border: 1px solid white;
	padding: 20px 30px;
	float: right;
	color: white;
	font-size: 17px;
	font-family: 'Oswald';
	letter-spacing: 5px;
	cursor: pointer;
}

#contacto .derecha{
	background: #f7291f;
	align-self: flex-end;
	padding: 5px 50px 50px 50px;
	width: 36%;
}

.horarios{
	box-shadow: 0px 70px 120px -42px rgba(0,0,0,0.3);
	padding: 30px;
	margin-bottom: 32px;
}

.horarios ul li{
	list-style: none;
	margin-bottom: 20px;
	font-size: 14px;
}

.pass{
	background: white;
	color: black;
	padding: 30px;
}

.pass a{
	text-decoration: none;
	color: black;
	border: 1px solid red;
	padding: 22px 30px;
	margin-top: 20px;
	display: inline-block;
	font-size: 17px;
	letter-spacing: 5px;
}

#idVideo{
	width: 900px;
	height: 800px;
}

.menu-icon{
	display: none;
}

@media screen and (max-width: 800px){
	nav{
		position: absolute;
		top: 100%;
		background: lightcoral;
		width: 100%;
		left: 0;
		display: none;
	}

	nav ul li{
		display: block;
		margin: 20px;
	}

	nav ul li a{
		color: white;
	}

	#intro .izquierda{
		width: 100%;
		padding: 32px 0;
		height: 270px;
	}

	#intro .izquierda p{
		letter-spacing: 3px;
	}

	#intro .izquierda h1{
		font-size: 46px;
	}

	#intro a, #programs a, #testimonials a{
		letter-spacing: 4px;
		font-size: 13px;
	}

	#intro{
		flex-direction: column;
	}

	#intro .derecha{
		width: 100%;
		height: 200px;
	}
	
	#intro .derecha p{
		font-size: 25px;
	}

	#intro .derecha a{
		padding: 15px;
		font-size: 14px;
	}

	#programs .cero{
		font-size: 50px;
	}

	#programs h2{
		font-size: 22px;
	}

	#programs p{
		width: 100%;
	}

	.contenedor-programs{
		margin-top: 40px;
		flex-direction: column;
		width: 100%;
	}
	
	#programs #dos{
		position: unset;
		margin-top: 30px;
	}

	#programs #tres{
		margin-top: 30px;
	}

	.program{
		padding: 25px 27px;
	}

	#video{
		margin: 10px 0;
	}

	#idVideo{
		width: 100%;
		height: auto;
	}

	#video i{
		font-size: 70px;
	}

	#video .botones{
		top: 25%;
		left: 35%;
	}

	#join{
		flex-direction: column;
	}

	#join .izquierda{
		width: 100%;
		margin: 0;
	}

	#join #uno{
		top: 25%;
		left: 21%;
		width: 60%;
	}

	#join .derecha{
		width: 100%;
		background: none;
	}

	#join #dos{
		position: unset;
		width: 75%;
	}

	#join #tres{
		width: 62%;
		left: 36%;
		top: 74%;
	}

	#testimonials{
		margin-top: 100px;
	}

	span.comilla{
		font-size: 80px;
		display: inline-block;
		height: 60px;
	}

	#testimonials h2{
		font-size: 27px;
		letter-spacing: 10px;
	}
	
	.contenedor-testimonials{
		flex-direction: column;
		margin-top: 20px;
	}

	.testimonial{
		width: 100%;
		margin-bottom: 20px;
		border-bottom: 1px solid black;
	}

	#contacto{
		flex-direction: column;
	}

	#contacto .izquierda{
		padding: 10px;
		width: 90%;
	}

	#contacto .izquierda p{
		font-size: 13px;
		letter-spacing: 5px;
	}

	#contacto h2{
		font-size: 45px;
		letter-spacing: 0;
	}
	
	#contacto form input, textarea{
		padding-bottom: 10px;
	}

	#contacto button{
		padding: 10px 15px;
		font-size: 15px;
	}
	
	#contacto .derecha{
		width: 100%;
		align-self: center;
		padding: 5px 0;
	}

	.menu-icon{
		display: block;
		margin-right: 15px;
	}

}


